@import "../../theme/mixins";

page-login {
    img {
        display: block;
        width: 80%;
        height: auto;
        margin: 40px auto;
    }
    ion-item:last-of-type {
        margin-bottom: 40px;
    }
    ion-checkbox.show-password {
        position: absolute !important;
        right: 0;
        bottom: 5px;
        .checkbox-icon {
            border-color: transparent;
            background-color: transparent;
            .checkbox-inner {
                display: none;
            }
            &:after {
                font-family: "Ionicons";
                content: '\f425';
                font-size: 25px;
                color: $text-color-light;
            }
            &.checkbox-checked:after {
                content: '\f17a';
            }
        }
    }
}
