<ion-content padding>
  <button-back label="auth.reset.buttons.back"></button-back>
  <form (submit)="resetPassword()" #local="ngForm">
    <ion-list inset>
      <p>
        {{ 'auth.reset.info' | translate }}
      </p>
      <ion-item>
        <ion-label floating>{{ "auth.reset.email-placeholder" | translate }}</ion-label>
        <ion-input type="email" name="mail" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <button ion-button full color="button-primary" [disabled]="!local.form.valid">{{ "submit" | translate }}</button>
    </ion-list>
  </form>
</ion-content>
