<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event);" #refresher [enabled]="!filterOpened">
    <ion-refresher-content pulling-icon="ion-arrow-down-b positive" spinner="crescent" pullingText="{{ 'common.pull-to-refresh' | translate }}"
      refreshingText="{{ 'common.refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <filter-bar [filters]="filters" [context]="context" (on-apply)="filter($event)" (filter-opened)="onFilterOpened($event)"></filter-bar>

  <ion-list no-lines *ngIf="items && items.length">
    <job-card *ngFor="let job of items" [job]="job" (removed)="onRemove($event)" (changed)="onChange($event)" [@softItem]></job-card>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(fetch(items, 10))" [enabled]="moreItems">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{ 'common.fetching-data' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <nothing-found *ngIf="items && !items.length" [context]="context + '.nothing-found'" [redirect]="context === 'offers' ? 'jobs:matched' : 'certificates:all'"></nothing-found>
</ion-content>