filter-date-range {
    .col {
        border: 1.5px solid #f4f4f4;
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 5px;
        padding: 2px 3px;
    }
    .button {
        padding-left: 2px;
        text-transform: initial;
    }
}
